<div id="navigation_div">
	<div id="nav_home" class="navDiv">
		<a href="https://www.gearz.tech/">
			<img src="/images/home.png" id="home_image">
		</a>
	</div>
	<div id="nav_logo" class="navDiv">
		<p id="logo_text">
			GEARZ
		</p>
	</div>
	<div id="nav_help" class="navDiv">
		<a href="#help">
			<img src="/images/question.png" id="help_image">
		</a>
	</div>
</div>

<div id="main_div">
	<h1 id='waiting-room-code'></h1>
	<h1 id='waiting-room-name'></h1>
	<p id="waiting_room_text">
		Waiting for a player to join...
	</p>
	<h1 id='startIndicator'></h1>
</div>